@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

.table .progress {
    margin-bottom: 0;
}

.torrent-row {
    border-top: 1px solid @tableBorder;

    [class*="span"] {
        line-height: 30px;
    }
}

.torrent-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
