@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

.torrent-row {
    border-top: 1px solid @tableBorder;

    [class*="span"] {
        line-height: 30px;
    }
}

.torrent-table {
    font-size: @baseFontSize;
}
