.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* Unbreak spazzy stuff in Twitter Bootstreap */
.row-fluid [class*="span"] {
  min-height: 0;
}
/* Allow stacking span1/span2 side-by-side in mobile view */
@media (max-width: 767px) {
  .row .span1,
  .row-fluid .span1,
  .row .span2,
  .row-fluid .span2 {
    float: left;
    width: 50%;
  }
}
.table .progress {
  margin-bottom: 0;
}
.torrent-row {
  border: 1px solid;
  /*border-left-width: 5px;*/

  margin-bottom: 9px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  /*
    .info-pair > div {
        width: 50%;
        float: left;
    }
    */

}
.torrent-row [class*="span"] {
  /*border: 1px solid @black;*/

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.torrent-row .info-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.torrent-row .torrent-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.torrent-row .torrent-info {
  position: relative;
}
.torrent-row.state-downloading {
  border-color: #468847;
}
.torrent-row.state-downloading .torrent-progress {
  background-color: #dff0d8;
}
.torrent-row.state-seeding {
  border-color: #3a87ad;
}
.torrent-row.state-seeding .torrent-progress {
  background-color: #d9edf7;
}
.torrent-row.state-paused {
  border-color: #999999;
}
.torrent-row.state-paused .torrent-progress {
  background-color: #e5e5e5;
}
.torrent-row.state-queued {
  border-color: #999999;
}
.torrent-row.state-queued .torrent-progress {
  background-color: #e5e5e5;
}
.torrent-row.state-checking {
  border-color: #c09853;
}
.torrent-row.state-checking .torrent-progress {
  background-color: #fcf8e3;
}
.torrent-row.state-error {
  border-color: #b94a48;
}
.torrent-row.state-error .torrent-progress {
  background-color: #f2dede;
}
.thin-progress {
  height: 3px;
  background-color: #a9dba9;
}
.thin-progress .bar {
  height: 3px;
  background-color: #46a546;
}
