{% set fluid = '-fluid' %}
<!DOCTYPE html>
<html lang="en" xmlns:t="http://twistedmatrix.com/ns/twisted.web.template/0.1">
  <head>
    <meta charset="utf-8"/>
    <base href="/">
    <title>Trickle - {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet"/>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="static/css/trickle.css" rel="stylesheet"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <!--
    <link rel="shortcut icon" href="static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">
    -->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container{{fluid}}">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Trickle</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Show <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for f in filters.state %}
                <li class="{% if filter_state == f[0] %}active{% endif %}"><a href="?state={{f[0]}}">
                  {{f[0]}} <span class="pull-right">{{f[1]}}</span></a></li>
                {% endfor %}
                <li><a href="#">Custom filter...</a></li>
              </ul>
              </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for key, method in sort_methods.iteritems() %}
                <li class="{% if sort_method == key %}active{% endif %}"><a href="?sort={{key}}">
                  {{method.description.capitalize()}}</a></li>
                {% endfor %}
              </ul>
              </li>
              <li class="{% if page == 'trackers' %}active{% endif %}"><a href="trackers/">Trackers</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="#"><i class="icon-arrow-down icon-white"></i> {{session.payload_download_rate|filesizeformat}}/s</a></li>
              <li><a href="#"><i class="icon-arrow-up icon-white"></i> {{session.payload_upload_rate|filesizeformat}}/s</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container{{fluid}}">

      {% block content %}

      No content

      {% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>
    <script>
        $(document).ready(function() {
            $(".collapse").collapse();
            $('.dropdown-toggle').dropdown();
        });
    </script>
  </body>
</html>
